<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
  <div
    *ngFor="let section of sections"
    [style.background]="section.color"
    class="p-4 rounded cursor-pointer hover:brightness-110 transition"
  >
    <div class="flex flex-col justify-center items-center h-full gap-2">
      <mat-icon class="text-4xl">{{ section.icon }}</mat-icon>
      <h3 class="text-xl font-semibold">{{ section.title }}</h3>
      <p class="text-md" *ngIf="section.count !== undefined">{{ section.count }}</p>
      <p class="text-sm" *ngIf="section.info">{{ section.info }}</p>
    </div>
  </div>
</div>

  <!-- Chart Container -->
 <div class="mt-10 ml-5 mr-5 flex justify-center">
  <canvas id="myChart" class="w-60 h-40" width="240" height="160"></canvas>
</div>
