<aside
  class="text-white pt-5 pb-10 h-full fixed transition-all duration-300"
  style="background-color: #2cc2cd;"
  [class.w-64]="MenuOpen"
  [class.w-20]="!MenuOpen"
>
  <div class="w-full px-4">
    <div class="flex items-center gap-x-2">
      <img [src]="userLogo" alt="Logo" class="w-10 h-10 rounded-full object-cover" />
      <h3 *ngIf="MenuOpen" class="text-xl font-medium">{{ userName }}</h3>
    </div>

    <div id="sidebarMenu" class="mt-10">
      <ul class="flex flex-col ml-1 gap-y-6">
      <li *ngFor="let option of sideBarOpation">
  <a 
    [routerLink]="option.route"
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{ exact: true }"
    class="flex items-center gap-2">
    <i class="material-icons">{{ option.icon }}</i>
    <span *ngIf="MenuOpen">{{ option.label }}</span>
  </a>
</li>



        
      </ul>
    </div>
  </div>
</aside>
