<div data-aos="fade-up">
  <section id="skills" class="bg-gradient-to-tl from-purple-100 via-pink-50 to-green-50 p-8 container mx-auto my-10 text-center px-4">
    <h2 class="text-3xl font-bold mb-4">Skills</h2>
    <p class="text-gray-600 mb-8">
      The skills, tools, and technologies I am really good at:
    </p>

    <div class="grid grid-cols-2 md:grid-cols-5 gap-8">
      <div *ngFor="let skill of skills()" class="flex flex-col items-center transition-transform transform hover:scale-110 duration-300">
        <img [src]="skill.image" [alt]="skill.imageTitle || 'Skill'" class="w-15 h-15 object-contain mb-2" />
        <p class="font-semibold">{{ skill.imageTitle }}</p>
      </div>
    </div>
  </section>
</div>
