@import "tailwindcss";
/* Initial state (hidden and moved down) */
[appScrollAnimate] {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-out;
  }
  
  /* When the element is in view */
  .animate-show {
    opacity: 1;
    transform: translateY(0);
  }
  
  